PORT=0908
NODE_ENV=development

DATABASE_URL=test

DATABASE_URL="postgresql://neondb_owner:npg_2CdxSiNcI6po@ep-odd-hall-b4vimuet-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"



CLERK_PUBLISHABLE_KEY=pk_test_bWVldC1zY29ycGlvbi00MDM1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_o5urs9DlHJWt0FBo9IUzWwhc1BGaeoowWpHx2uwO6F

SENTRY_DSN=https://d79ffa42e7480189b91ccdd4c4a2351a@o4510084739694592.ingest.us.sentry.io/4512105858859008

STREAM_API_KEY=77m39szn66a9
STREAM_API_SECRET=s57fjxr7m69xtddh6826z2akdgdyrjugjnf2sb6ajukcd4ps6cr3cm8v5e6wgxxr

IMAGEKIT_PUBLIC_KEY=public_4xS8ZecK3HSbtu48ZLvB1ZPG97Y=
IMAGEKIT_PRIVATE_KEY=private_4UppFmJDI5qSjdf49QdhjW7zd68=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/qt4jrrubg